.card{
    background-color: var(--color);
    box-shadow: 0 0 20px 0 var(--color);
    will-change: box-shadow,transition;
    transition: 0.3s all;
}







@media screen and ( max-width: 500px )
{
    :not( .details-view ) .card
    {
        align-items: flex-start;
        justify-content: space-between;
        height: 40vh;
        padding: 2rem;
    }

    .card  h2
    {
        font-size: 1.2rem;
    }

    .pokemon-id
    {
        font-size: 2rem;
        top: 20px;
        right: 20px;
    }
}



@media screen and ( min-width: 1024px )
{
    .card:hover
    {
        transform: translateY( -5px );
        box-shadow: 0 0 20px 5px var( --color );
    }
}